
* {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 18px;
    margin-bottom: 10px;
    margin-right: 20px;
    font-weight: bolder;
}

/* NAVBAR */

.navbar {
    background-color: white;
    display: block;
    justify-content: space-between;
    width: 100%;
    text-align: center;
    font-size: 14px;
}

.nav-logo {
    height: 43px;
    position: relative;
    text-align: center;
    margin: 15px;
}

.nav-list {
    list-style-type: none;
}

.nav-list .list-item {
    display: inline-block;
    width: 49%;
    border-bottom: 3px solid #F2F2F2;
    padding-bottom: 3%;
}

a {
    color: black;
    text-decoration: none;
}

.navbar a:hover {
    color: #0065FC;
}

.navbar li:hover {
    color: #0065FC;
    border-bottom: 3px solid #0065FC ;
}

/* SEARCHBAR */

.searchbar {
    margin-left: 20px;
}

.searchbar h2 {
    font-size: 13px;
    font-weight: lighter;
    margin-bottom: 20px;
}

.search-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 45px;
    width: auto;
    max-width: 450px;
    border-top: 2px solid #F2F2F2;
    border-bottom: 2px solid #F2F2F2;
    border-radius: 15px;
    padding: 0px;
    margin-right: 15px;
}

.search-box .fa-map-marker {
    background: #F2F2F2;
    height: 100%;
    width: 50px;
    border-radius: 15px 0 0 15px;
    border: 4px solid #F2F2F2;
    text-align: center;
    padding-top: 2%;
}

.search-field {
    font-size: 15px;
    width: 64%;
    border: none;
    height: 100%;
    padding-left: 4%;
    font-weight: bold;
}

.fa-search {
    background: #0065FC;
    color: white;
    width: 45px;
    height: 110%;
    border-radius: 15px;
    border: 4px solid #0065FC;
}

.desktop-search {
    display: none;
}

/* FILTERS */

.filters {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 20px;
    margin-top: 15px;
}

.filters span {
    margin-right: 20px;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: bolder;
}

.all-filters {
    display: inline-flex;
    flex-wrap: wrap;
}

.filters-button {
    display: flex;
    border-radius: 25px;
    height: 45px;
    border: 2px solid #F2F2F2;
    border-left: none;
    background: none;
    align-items: center;
    padding-right: 15px;
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 13px;
    font-weight: bolder;
}

.filters-button:hover {
    color: #0065FC;
    border: 2px solid #0065fc70;
    border-left: none;
}

.filters .fa {
    display: flex;
    margin-right: 10px;
    background: #deebff;
    color: #0065FC;
    font-size: 18px;
    width: 45px;
    height: 45px;
    border-radius: 30px;
    align-items: center;
    justify-content: center;
}

/* INFO SECTION */

.info {
    display: flex;
    align-items: center;
    margin: 15px;
}

.info .fa-info {
    color: #0065FC;
    margin-right: 10px;
    font-size: 13px;
    border: 2px solid #F2F2F2;
    border-radius: 50%;
    padding: 5px 10px 5px;
}

.info .info-text {
    font-size: 13px;
    font-weight: lighter;
}

/* CARDS */

.accommodations-and-popular {
    display: flex;
    flex-direction: column;
}

.most-popular {
    background-color: #F2F2F2;
    margin-top: 15px;
    padding-left: 20px;
    padding-bottom: 20px;
}

.most-popular-title {
    display: flex;
    padding: 35px 15px 20px 0px;
    width: 100%;
}

.most-popular h1 {
    width: 90%;
}

.most-popular-title .fa-external-link {
    font-size: 18px;
    width: 10%;
    text-align: end;
}

.popular-accommodations article {
    display: flex;
    box-shadow: 0px 0px 5px #cfcaca;
    border-radius: 20px;
    background-color: white;
    margin-bottom: 10px;
    margin-right: 20px;
    height: 120px;
}

.popular-accommodations img {
    object-fit: cover;
    width: 40%;
    border-right: none;
    border: 4px solid white;
    border-radius: 20px 0 0 20px;
}

.popular-texts {
    display: flex;
    flex-direction: column;
    padding: 10px 10px 0px;
    width: 60%;
}

.popular-accommodations h2 {
    font-size: 13px;
    font-weight: bold;
    padding-top: 5px;
}

.popular-accommodations span {
    padding-top: 10px;
    font-size: 12px;
    font-weight: lighter;
}

.star-rating {
    margin-top: auto;
    font-size: 10px;
    padding-bottom: 10px;
}

.fa-star {
    color: #0065FC;
}

.grey-star {
    color: #c9c0c0;
}

.accommodations {
    background-color: white;
    margin-left: 20px;
}

.accommodations-title {
    display: inline-flex;
    padding: 25px 0 10px;
}

.accommodations-marseille article {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 5px #cfcaca;
    border-radius: 20px;
    background-color: white;
    margin-bottom: 12px;
    margin-right: 20px;
    height: 160px;
}

.accommodations-marseille img {
    object-fit: cover;
    height: 63%;
    border-bottom: none;
    border: 4px solid white;
    border-radius: 20px 20px 0px 0px;
}

.accommodations-texts {
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    height: 37%;
}

.accommodations-marseille h2 {
    font-size: 13px;
    font-weight: bold;
}

.accommodations-marseille span {
    font-size: 12px;
    padding-top: 3px;
    font-weight: 200;
}

.display-more {
    font-size: 14px;
    font-weight: bold;
}

.activities {
    background-color: white;
    margin: 0px 20px 20px;
}

.activities-title {
    display: inline-flex;
    padding: 30px 0 15px 0;
}

.activities-marseille article {
    display: flex;
    flex-direction: column;
    max-width: 410px;
    box-shadow: 0px 0px 5px #cfcaca;
    border-radius: 20px;
    background-color: white;
    margin-bottom: 17px;
    height: 150px;
}

.activities-marseille img {
    object-fit: cover;
    height: 80%;
    border-bottom: none;
    border-radius: 20px 20px 0px 0px;
}

.activities-marseille h2 {
    font-size: 13px;
    padding: 15px
}

.footer {
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
    padding: 0px 20px 40px
}

.footer h2 {
    padding-top: 40px;
    padding-bottom: 5px;
    font-size: 14px;
    font-weight: bolder;
}

.footer h3 {
    padding-top: 10px;
    font-size: 13px;
    font-weight: 200;
}

@media screen and (min-width: 451px) {

    .searchbar {
        margin: 15px;
        margin-bottom: 0px;
    }

    .search-box {
        width: 400px;
        border-radius: 18px;
    }

    .search-field {
        width: 55%;
    }

    .search-box .fa-map-marker {
        border-radius: 18px 0 0 18px;
    }

    .search-box .fa-search {
        display: none;
    }

    .desktop-search {
        display: inline;
        background: #0065FC;
        font-size: 14px;
        color: white;
        height: 110%;
        border: 4px solid #0065FC;
        width: 30%;
        border-radius: 0px 18px 18px 0;
    }

    /* POPULAR */

    .accommodations-and-popular {
        display: flex;
        flex-direction: column;
        margin: 0 20px;
    }

    .most-popular {
        border-radius: 20px;
        height: auto;
        padding-left: 10px;
        padding-right: 10px;
    }

    .popular-accommodations {
        width: auto;
        display: flex;
    }
    
    .most-popular-title {
        padding-left: 10px;
    }

    .popular-accommodations article {
        display: flex;
        flex-direction: column;
        margin: 5px;
        width: 33%;
        height: 150px;
        border-radius: 20px;
    }

    .popular-accommodations img {
        width: 100%;
        height: 55%;
        border-radius: 20px 20px 0px 0px;
    }

    .popular-texts {
        width: 100%;
        height: 45%;
    }

    .popular-accommodations h2 {
        font-size: 11px;
    }

    .popular-accommodations span {
        padding-top: 1px;
        font-size: 10px;
    }

    /* ACCOMMODATIONS */

    .accommodations {
        width: auto;
        background-color: #F2F2F2;
        border-radius: 20px;
        margin-left: 0px;
        padding-bottom: 30px;
        margin-top: 20px;
    }

    .accommodations h1 {
        margin-left: 20px;
    }

    .accommodations-marseille {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 5px;
    }

    .accommodations-marseille article {
        display: flex;
        width: 47%;
        box-shadow: 0px 0px 5px #cfcaca;
        border-radius: 20px;
        background-color: white;
        margin-bottom: 20px;
        margin: 5px;
        height: 170px;
    }
    
    .accommodations-marseille img {
        object-fit: cover;
        height: 70%;
        border-bottom: none;
        border: 6px solid white;
        border-radius: 20px 20px 0px 0px;
    }

    .display-more {
        padding: 25px;
    }

    /* ACTIVITIES */

    .activities-marseille {
        display: flex;
        flex-wrap: wrap;
    }

    .activities article {
        width: 47%;
        margin: 5px;
    }

    /* FOOTER */

    .footer {
        display: flex;
        flex-direction: row;
        margin-left: -40px;
        margin-right: -40px;
    }

    .footer div {
        margin-left: 50px;
        width: 32%;
    }
}

@media screen and (min-width: 992px) {

    body {
        margin-left: 40px;
        margin-right: 40px;
    }

    .navbar {
        display: flex;
    }

    .nav-list {
        display: inline-block;
        width: 35%;
    }

    .nav-list .list-item {
        border-top: 4px solid #F2F2F2;
        border-bottom: none;
        padding-top: 25px;
    }

    .navbar li:hover {
        color: #0065FC;
        border-top: 4px solid #0065FC;
        border-bottom: none;
    }

    .searchbar {
        margin: 15px;
        margin-bottom: 0px;
    }

    .search-box {
        width: 400px;
        border-radius: 18px;
    }

    .search-field {
        width: 55%;
    }

    .search-box .fa-map-marker {
        border-radius: 18px 0 0 18px;
    }

    .search-box .fa-search {
        display: none;
    }

    .desktop-search {
        display: inline;
        background: #0065FC;
        font-size: 14px;
        color: white;
        height: 110%;
        border: 4px solid #0065FC;
        width: 30%;
        border-radius: 0px 18px 18px 0;
    }

    .filters {
        display: inline-flex;
        flex-wrap: wrap;
        align-items: center;
        margin-bottom: 5px;
    }

    .accommodations-and-popular {
        display: flex;
        flex-direction: row;
    }

    .most-popular {
        border-radius: 20px;
        max-height: 660px;
    }

    .popular-accommodations {
        width: 340px;
        justify-content: center;
    }

    .popular-accommodations article {
        margin-bottom: 30px;
    }

    .accommodations {
        order: -1;
        width: 750px;
        background-color: #F2F2F2;
        margin-right: 30px;
        border-radius: 20px;
    }

    .accommodations-marseille {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .accommodations-marseille article {
        display: flex;
        width: 210px;
        box-shadow: 0px 0px 5px #cfcaca;
        border-radius: 20px;
        background-color: white;
        margin-bottom: 20px;
        margin-right: 20px;
        height: 230px;
    }
    
    .accommodations-marseille img {
        object-fit: cover;
        height: 70%;
        border-bottom: none;
        border: 6px solid white;
        border-radius: 20px 20px 0px 0px;
    }

    .accommodations h2 {
        padding: 15px 0px 15px 0px;
    }

    .activities {
        margin-top: 0px;
        padding-left: 0px;
        margin-right: -20px;
    }

    .activities-marseille {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        height: 400px;
    }

    .activities-marseille article {
        display: flex;
        width: 23%;
        height: auto;
        max-height: 400px;
    }

    .activities-marseille img {
        height: 90%;
    }

    .activities-marseille .second-activity {
        height: 55%;
    }

    .activities-marseille .third-activity {
        height: 40%;
        margin-top: auto;
        margin-bottom: 0px
    }

    .activities-marseille .fifth-activity {
        height: 47%;
    }

    .activities-marseille .sixth-activity {
        height: 47%;
        margin-top: auto;
        margin-bottom: 0px;
    }

    .footer {
        display: flex;
        flex-direction: row;
        margin-left: -40px;
        margin-right: -40px;
    }

    .footer div {
        margin-left: 50px;
        width: 32%;
    }
}