
* {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    padding: 0;
    margin: 0;
}

.navbar {
    background-color: white;
    display: block;
    justify-content: space-between;
    width: 100%;
    text-align: center;
    font-size: 16px;
}

.nav-logo {
    height: 43px;
    position: relative;
    text-align: center;
}

.nav-list {
    list-style-type: none;
}

.nav-list .list-item {
    display: inline-block;
    width: 49%;
    border-bottom: 4px solid #F2F2F2;
}

.navbar a {
    color: black;
    text-decoration: none;
}

.navbar a:hover {
    color: #0065FC;
    padding: 20px 10px;
    border-bottom: 4px solid #0065FC ;
}

h1 {
    font-size: 20px;
    padding: 15px;
}

h2 {
    font-size: 16px;
    padding: 15px;
}

.search-field {
    height: 50px;
    border-radius: 15px;
    padding: 10px 50px 10px 50px;
    font-size: 18px;
    border-color: #F2F2F2;
}

.search-button {
    background: #0065FC;
    float: right;
    width: 50px;
    height: 50px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

@media screen and (min-width: 768px) {
    .navbar {
        display: flex;
    }

    .nav-logo {
        top: 0px
    }

    .nav-list {

        list-style-type: none;
    }

    .nav-list .list-item {
        padding: 20px 10px;
        border-top: 4px solid #F2F2F2;
        border-bottom: none;
    }

    .navbar a:hover {
        color: #0065FC;
        padding: 20px 10px;
        border-top: 4px solid #0065FC;
        border-bottom: none;
    }

}